<div class="header">
  <h1>Hexandra</h1>
  <ul>
    <li>Products</li>
    <li>Contact</li>
  </ul>
</div>

<div>
  <h3>Increase accessory sales and service department revenue with our Car Accessory Sales application</h3>

  <div class="col-md-6">
    <ul>
      <li>Simple, easy to use interface.</li>
      <li>Inventory is completely customizable</li>
      <li>Helps ensure sales staff are offering accessories by sending notification even when the customer declines</li>
      <li>Missing a feature you need? We will build it for you</li>
    </ul>
  </div>
</div>
